:root{
  --gv-theme-color-darker: #383E3F;
  --gv-theme-color-dark: #28444F;
  --gv-theme-color: #5A7684;
  --gv-theme-color-light: #86c3d0;
  --gv-theme-color-danger: #FF5722;
  --gv-theme-color-error-dark: #d32f2f;
  --gv-theme-color-error: #f44336;
  --gv-theme-color-error-light: #e57373;
  --gv-theme-color-info-dark: #1976d2;
  --gv-theme-color-info: #2196f3;
  --gv-theme-color-info-light: #64b5f6;
  --gv-theme-color-success-dark: #388e3c;
  --gv-theme-color-success: #4caf50;
  --gv-theme-color-success-light: #81c784;
  --gv-theme-color-warning-dark: #f57c00;
  --gv-theme-color-warning: #ff9800;
  --gv-theme-color-warning-light: #ffb74d;
  --gv-theme-neutral-color-darkest: #000000;
  --gv-theme-neutral-color-darker: #BFBFBF;
  --gv-theme-neutral-color-dark: #D9D9D9;
  --gv-theme-neutral-color: #F5F5F5;
  --gv-theme-neutral-color-light: #EFEFEF;
  --gv-theme-neutral-color-lighter: #FAFAFA;
  --gv-theme-neutral-color-lightest: #FFFFFF;
  --gv-theme-font-color-dark: #262626;
  --gv-theme-font-color-light: #FFFFFF;
  --gv-theme-font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  --gv-theme-font-size-xs: 10px;
  --gv-theme-font-size-s: 12px;
  --gv-theme-font-size-m: 14px;
  --gv-theme-font-size-l: 16px;
  --gv-theme-font-size-xl: 26px;
  --gv-theme-font-size-xxl: 30px;
  --gv-theme-homepage-background-height: 400px;
  --gv-theme-skeleton-color: #BFBFBF;
  --gv-theme-homepage-background-color: #5A7684;
  --gv-theme-homepage-background-image: none;
  --gv-theme-logo: url('/images/gravitee-logo-cyan.svg');
  --gv-theme-optional-logo: url('/images/gravitee-logo-white.svg');
  --gv-theme-favicon: /images/gravitee-favicon.png;
}