:root {
    font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #262626;

    background-color: #EFEFEF;
    /** Variables */
    --gv-theme-color-darker: #1D3730;
    --gv-theme-color-dark: #193E34;
    --gv-theme-color: #009B5B;
    --gv-theme-color-light: #D5FDCB;
    --gv-theme-color-lighter: #FAFAFA;
    --gv-theme-logo: url('../assets/icons/thirdparty/graviteeio_am.svg');

    --github-color: #444;
    --google-color: #4285F4;
    --oidc-color: #000000;
    --gv-logo-blue: rgb(58, 174, 224);
    --gv-logo-grey: rgb(58, 58, 58);
    --gv-logo-white: rgb(247, 250, 252);

    /**  gv-button */
    --gv-button--bgc: var(--gv-theme-color-dark);
    --gv-button-primary--bgc: var(--gv-theme-color);

    /**  gv-button */
    --gv-icon--c: #262626;

    /** gv-nav-link */
    --gv-nav-link--bgc: transparent;
    --gv-nav-link--c: #262626;
    --gv-nav-link-active--bgc: var(--gv-theme-color-dark);
    --gv-nav-link-active--c: var(--gv-theme-color-lighter);
}

gv-button.github_outlined {
    --gv-button--bgc: var(--github-color);
    --gv-icon--c: var(--github-color);
}
gv-button.github {
    --gv-button--bgc: var(--github-color);
    --gv-icon--c: #FFF;
}

gv-button.google_outlined {
    --gv-button--bgc: var(--google-color);
}
gv-button.google {
    --gv-button--bgc: var(--google-color);
}

gv-button.oidc_outlined {
    --gv-button--bgc: var(--oidc-color);
    --gv-icon--c: var(--oidc-color);
}
gv-button.oidc {
    --gv-button--bgc: var(--oidc-color);
    --gv-icon--c: #fff;
}

gv-button.graviteeio_am_outlined {
    --gv-button--bgc: var(--gv-logo-blue);
    --gv-icon--c: var(--gv-logo-grey);
}
gv-button.graviteeio_am {
    --gv-button--bgc: var(--gv-logo-blue);
    --gv-icon--c: var(--gv-logo-white);
}